@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.input{
    padding: 10px;
    width: 230px;
    text-align: center;
    border: 1px solid #5e7ea8;
    border-radius: 5px;
}

.button{
    display: block;
    padding: 7px 7px;
    margin: 5px 0px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
}

.button.orange{
    background-color: #f68634;
}

.content-title{
    background-color: #5e7ea8;
    color: #fff;
    text-align-last: left;
    padding: 15px;
    font-size: 13px;
}

.content-title h3{
    font-weight: 400;
}

/*--Left Menu--*/
.content{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.menu-bar{
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.main-menu{
    background-color: #ebf7ff;
    min-width: 240px;
    width: 240px;
    position: relative;
    border-right: 10px solid #fff;
    height: -webkit-fill-available;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.logo img{
    height: 48px;
}

.balance{
    display: flex;
    position: relative;
    overflow: hidden;
}

.balance i{
    margin-right: 5px;
}

.balance .menu-button{
    position: absolute;
    top: 0;
    right: -48px;
    padding: 10px 50px 10px 10px;
}

.menu-subtitle{
    padding: 10px 10px;
    background: linear-gradient(90deg, #f6802a ,#fc974e);
    color: #fff;
    font-size: 15px;
}

.menu-button{
    background-color: #5e7ea8;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
}

.menu-button:hover{
    background-color: #546aa8;
}

.menu-wrapper ul li a{
    display: block;
    padding: 14px 0px 10px 40px;
    text-decoration: none;
    color: #5e7ea8;
    position: relative;
    border-bottom: 1px solid #cceafd;
    z-index: 1;
    transition: .4s;
}

.menu-wrapper ul li a:after{
    content: ' ';
    background-color: #5e7ea8;
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    z-index:-1;
    transition: .3s;
}

.menu-wrapper ul li a:hover{
    color: #fff;
}

.menu-wrapper ul li a:hover:after{
    left: 0;
}

.menu-wrapper ul li a.no-underline{
    border-bottom: none;
}

.menu-wrapper ul li a i{
    position: absolute;
    left: 10px;
}

.menu-footer{
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 38px;
}

.menu-footer .menu-button{
    position: absolute;
    padding: 10px 10px 10px 50px;
    top: 0;
    left: -40px;
}

/*--Main--*/


.main{
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

.main-wrapper{
    min-width: 1070px;
    max-width: 1070px;
    margin: 0 auto;
    height: 100%;
}

.menu-toggle{
    background-color: #5e7ea8;
    max-width: 250px;
    margin: 0 auto 5px auto;
    display: none;
}

.navigation{
    display: flex;

    background-color: #fff;
    height: 80px;
}

.navigation-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
}

.square-button{
    position: absolute;

}

.square-button i{
    border: 2px solid #5e7ea8;
    color: #5e7ea8;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: .3s;
}

.square-button i:hover{
    color: #fff;
    background-color: #5e7ea8;
}

.nav-menu{
    margin: 0 auto;
}

.nav-menu ul{
    display: flex;
    list-style-type: none;
}

.nav-menu ul li a{
    color: #5e7ea8;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
    margin-right: 20px;
}

.nav-menu ul li a:hover{
    background-color: #5e7ea8;
    color: #fff;
}

.trigger{
    position: relative;
}

.social-buttons{
    align-items: center;
    font-size: 20px;
    width: 100px;
    margin-top: 6px;
    display: none;
}

.vk-button, .ok-button{
    background-color: #5e7ea8;
    color: #fff;
    border-radius: 5px;
}

.vk-button{
    padding: 3px 5px;
    margin-right: 5px;
}

.ok-button{
    padding: 3px 10px;
}

.vk-button:hover{
    background-color: #546aa8;
}

.ok-button:hover{
    background-color: #f6802a;
}

.submenu-trigger:active  .social-buttons{
    display: flex;
}


.logout{
    border: 2px solid #5e7ea8;
    color: #5e7ea8;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: .3s;
}

.logout:hover{
    color: #fff;
    background-color: #5e7ea8;
}


/*--Content--*/

.main-content{
    background-color: #ebf7ff;
    padding-top: 25px;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
}

.main-content-wrapper{
    display: flex;
    justify-content: space-between;
}


/*---Panel---*/

.main-leftside, .main-rightside{
    max-width: 600px;
}

.main-leftside{
    width: 49%;
    text-align: center;
    background-color: #fff;
    margin-bottom: 19px;
    color: #646464;
}

.leftside-inputs{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.leftside-inputs p{
    margin-bottom: 10px;
}

div.main-leftside > p:nth-child(3){
    margin-top: 10px;
    font-size: 14px;
}

.payment-title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}

.payment-methods{
    height: fit-content;
    margin-bottom: 10px;
}

.methods-1, .methods-2, .methods-3{
    margin-bottom: 20px;
}

.visa, .yandex, .qiwi, .megafon, .mts, .beeline, .tele2, .payeer{
    position: relative;
}

.visa:after, .yandex:after, .qiwi:after, .megafon:after, .mts:after, .beeline:after, .tele2:after, .payeer:after{
    content: 'Комиссия 0%';
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 13px;
}

.main-rightside{
    width: 49%;
}

.tabs {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    background-color: #fff;


    position: relative;
}
.tabs>input { display:none; }
.tabs>div {
    display: none;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}
.tabs>label {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 10px;
    font-size:  15px;
    text-align: center;
    color: #646464;
    border: 1px solid #C0C0C0;
    background: #fff;
    cursor: pointer;
}

.tabs > label:nth-child(4){
    margin-left: 10px;
}

.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    background: #f4f6f5;
}
#txt_1, #txt_2{
    width: 100%;
    background-color: #5e7ea8;
    color: #fff;
    display: none;

    -webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#txt_1{
    font-size: 14px;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 2px 10px 10px;
}

.action-information{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    border-bottom: 1px dashed #fff;
}

.txt_1-left, .txt_2-left{
    width: 98%;
}

.txt_1-left{
    padding-top: 10px;
    padding-right: 10px;
}

.txt_1-right, .txt_2-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    padding-right: 10px;
}

.txt_1-right i, .txt_2-right i{
    color: #fff;
}

.no-op{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.up{
    margin-bottom: 10px;
}

.down{
    margin-top: 10px;
}

.action-status{
    display: flex;
}

.action-status i{
    margin-right: 4px;
}

.money-count{
    font-size: 16px;
}
#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2{ display: flex; }

.refresh{
    position: absolute;
    right: 15px;
    top: 25px;
    transform: translate(0, -50%);
    color: #5e7ea8;
}

.transfer{
    margin-top: 50px;
    background-color: #fff;
    color: #646464;
    padding-bottom: 30px;
}

.transfer-inputs{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.transfer-input-id, .transfer-input-sum{
    text-align: center;
    max-width: 230px;
}

.transfer-input-id p, .transfer-input-sum p{
    margin-bottom: 10px;
}

.transfer-input-id p:last-child, .transfer-input-sum p:last-child{
    font-size: 13px;
    margin-top: 5px;
}

.transfer-content .button{
    max-width: 250px;
    margin: 30px auto 0px auto;
}

/*---Connection---*/

.connection-button{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 30px;
    max-height: 50px;
}

.connection-button:hover{
    background-color: rgba(3,3,3, .1);
}

.connection-button i{
    transition: .3s;
}

.connection-button:hover i{
    transform: rotate(90deg);
}

.connection-leftside{
    background-color: #ebf7ff;
}

.connection-leftside-title, .design-leftside-title, .design-rightside-title{
    color: #5e7ea8;
    margin-bottom: 15px;
}

.connection-vk, .connection-ok{
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff;
}

.connection-vk{
    background-color: #5e7ea8;
    margin-bottom: 30px;
}

.block-title{
    font-size: 17px;
    font-weight: 400;
}

.connection-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    font-size: 14px;
}

.connection-vk p:last-child, .connection-ok p:last-child{
    font-size: 14px;
}

.connection-ok{
    background-color: #f6802a;
}

.connection-rightside-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.connection-rightside-buttons a{
    background-color: #5e7ea8;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    padding: 10px;
}

.connection-rightside-buttons a b{
    font-size: 15px;
}

.connection-rightside-buttons a:hover{
    background-color: #496892;
}

.connection-rightside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*---Groups---*/

.group-list{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    max-height: 525px;
}

.connection-ok .group-item{
    background: linear-gradient(90deg, rgba(250,109,6), rgba(1,1,1, 0));
}

.connection-vk .group-item{
    background: linear-gradient(90deg, rgb(103, 140, 187), rgba(1,1,1, 0));
}

.group-item{
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 2px 0;
    padding: 2px 0 2px 40px;
    margin-right: 5px;
}

.group-item:hover{
    text-decoration: underline;
}

.scroll-bar{
    position: absolute;
    right: 5px;
    top: 2px;
    bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(200,200,200, .2);
    padding: 2px 4px;
    border-radius: 30px;
}

.scroll-bar i{
    cursor: pointer;
}

/*---Design---*/

.design-leftside{
    padding: 15px;
}

.design-content{
    display: flex;
    justify-content: space-around;
}

.design-content-left, .design-content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}


.color-toggle, .color-toggle{
    display: block;
    width: 20px;
    height: 20px;
    background-color: #7e5c7f;
    border-radius: 5px;
    border: 1px solid #f6802a;
}

.colorpicker{
    position: relative;
}

.colorpicker > div{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #f6802a;
    border-radius: 5px;
    top: 0;
    left: 35px;
    display: none;
    z-index: 999;
}

.colorpicker > div:after{
    content: '';
    position: absolute;
    border: 5px solid transparent;	
    border-right: 10px solid #fff;
    left: -15px;
    top: 5px;
}

.colorpicker > div:before{
    content: '';
    position: absolute;
    border: 5px solid transparent;	
    border-right: 10px solid #f6802a;
    left: -16px;
    top: 5px;
}


.first-row, .second-row{
    display: flex;
}

.first-row a, .second-row a{
    display: block;
    height: 17px;
    width: 17px;
    padding: 5px;
    background-color: #555;
    margin: 2px;
    border: 1px solid #fff;
    outline: 1px solid #9da1a4;
    border-radius: 2px;
}

.colorpicker div p{
    margin-top: 2px;
    margin-left: 3px;
    font-size: 12px;
    color: #5e7ea8;
}

.colorpicker div p span{
    font-size: 15px;
}

.colorpicker div p span input{
    padding-left: 10px;
    width: 71px;
    padding-left: 13px;
}

.colorpicker div p span:before{
    content: '#';
    position: absolute;
    bottom: 5px;
    right: 65px;
    font-size: 15px;
}

.slider-button{
    width: 20px;
    cursor: pointer;
}

.slider-button img{
    width: 20px;
}

.img-title-color-reset, .img-bottom-color-reset, .img-title-font-reset, .name-font-reset, .bottom-font-reset{
    cursor: pointer;
    color: #a1a1a1;
}

.design-rightside{
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.design-inputs .colorpicker > div{
    left: -235px;
}

.design-inputs .colorpicker > div:after{
    content: '';
    position: absolute;
    border: 5px solid transparent;	
    border-left: 10px solid #fff;
    right: -15px;
    left: auto;
    top: 5px;
}

.design-inputs .colorpicker > div:before{
    content: '';
    position: absolute;
    border: 5px solid transparent;	
    border-left: 10px solid #f6802a;
    right: -16px;
    left: auto;
    top: 5px;
}

.design-inputs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.design-inputs select{
    border: 1px solid #f6802a;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    color: #5e7ea8;
}

.photo-frames{
    display: flex;
    flex-direction: column;
}

.frames-1, .frames-2{
    display: flex;
    justify-content: space-evenly;
}

.frames-1 a img, .frames-2 a img{
    width: 80px;
}

.design-inputs select:first-child{
    width: 300px;
}

.main-rightside > div > div:nth-child(9){
    padding: 20px 0;
}

/*--Slider--*/

.slider {
    width: 396px;
    position: relative;
}

#viewport {
    width: 100%;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

.design-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider-count{
    color: #47668e;
    padding: 5px 0;
    transition: .3s;
}

.expand{
    font-size: 40px;
    color: #f6802a;
    max-width: 40px;
    max-height: 40px;
    transition: .3s;
    margin-bottom: 2px;
}

.expand:hover{
    color: #fa6800;
}

.design-footer-button{
    text-decoration: none;
    background-color: #5e7ea8;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    max-height: 40px;
    min-width: 180px;
    max-width: 180px;
}

.design-footer-button:hover{
    background-color: #47668e;
}

.design-footer-center{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
/*--Footer--*/

.main-content-footer{
    background-color: #f6802a;
    padding: 10px 0px;
    font-size: 15px;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.main-content-footer .main-wrapper{
    display: flex;
    justify-content: space-between;
}


@media screen and (min-width: 1600px){
    .main-wrapper{
        min-width: 1200px;
        max-width: 1200px;
    }
}

@media screen and (min-width: 768px){
    .main-wrapper{
        min-width: 1070px;
        max-width: 1070px;
    }
}

@media screen and (max-width: 1280px) and (min-width: 320px){
    .content{
        flex-direction: column;
    }

    .main-menu{
        z-index: 9999;
        border: none;
        width: 100%;
        position: inherit;
        height: 120px;
    }

    .menu-wrapper, .menu-footer{
        display: none;
    }

    .menu-footer{
        margin-top: 0;
        bottom: auto;
    }

    .menu-toggle{
        display: block;
    }

    .main{
        position: sticky;
        left: 0;
    }

    .navigation{
        display: none;
    }

    .main-wrapper{
        min-width: 300px;
        max-width: 300px;
    }

    .main-content{
        position: static;
        padding-top: 0;
    }

    .main-content-wrapper{
        flex-direction: column;
    }

    .main-leftside, .main-rightside{
        flex-direction: column;
        width: 100%;
    }

    .main-rightside{
        margin-bottom: 50px;
    }

    .transfer-inputs{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .transfer-inputs div{
        margin: 0 auto;
    }

    .leftside-inputs{
        flex-direction: column;
    }

    .leftside-input:last-child{
        margin-top: 10px;
    }

    .payment-methods div{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .payment-methods div a{
        max-width: 200px;
        margin: 0 auto;
        padding: 0px 0 20px 0;
    }

    a.visa:after, .yandex:after, .qiwi:after, .megafon:after, .mts:after, .beeline:after, .tele2:after, .payeer:after{
        content: 'Комиссия 0%';
        position: absolute;
        bottom: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        font-size: 13px;
    }

    .action-information{
        margin-top: 5px;
    }

    .connection-rightside div:first-child{
        display: none;
    }

    .connection-rightside-buttons{
        flex-direction: column;
    }

    .connection-rightside-buttons a{
        margin-top: 10px;
    }

    .connection-block{
        flex-direction: column;
    }

    .connection-button{
        margin-top: 10px;
    }

    .slider{
        width: 215px;
    }

    .design-footer{
        flex-direction: column;
    }

    .design-footer-button{
        margin: 0 auto 5px auto;
    }

    .design-footer-center{
        margin: 0 auto 5px auto;
        order: -1;
    }

    .design-inputs select{
        padding: 5px;
    }

    .design-inputs select:first-child{
        width: 150px;
    }
}